@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box; }

.logopequeño {
  width: 50px;
  margin-top: 3px;
  margin-left: 0px; }

.header_titulo {
  font-size: 150%;
  margin-right: 5px;
  margin-top: 3px; }

.paginas {
  width: 100%;
  justify-content: flex-end; }

.carousel {
  margin: 10px auto;
  width: 60%;
  display: block; }
  .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 75%;
    object-fit: cover; }
  .carousel .carousel-inner .carousel-item .carousel_text {
    border: solid 1px;
    padding-top: 10px; }
    .carousel .carousel-inner .carousel-item .carousel_text a {
      text-decoration: none;
      color: black;
      text-align: center; }

.index_p {
  text-align: justify;
  margin-bottom: 5%;
  margin-top: 5%; }

.club_titulo {
  text-align: center; }

.club_texto {
  display: flex;
  position: relative; }
  .club_texto .club_historia {
    text-align: justify;
    margin: 2%; }
    .club_texto .club_historia .club_img {
      width: 30%;
      margin: 2%; }
    .club_texto .club_historia #club_img1 {
      float: right; }
    .club_texto .club_historia #club_img2 {
      float: left; }

.datosclub {
  margin: 2%; }
  .datosclub ul {
    list-style-type: none;
    padding-left: 0; }
    .datosclub ul li {
      margin-top: 2%;
      margin-bottom: 2%; }

.eventos_título {
  text-align: center;
  margin: 2%; }

.eventos_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "card1 card2 card3 card9" "card8 card5 card6 card9" "card8 card4 card7 card10";
  row-gap: 10px;
  justify-content: space-between; }
  .eventos_cards .eventos_card1 {
    grid-area: card1; }
  .eventos_cards .eventos_card2 {
    grid-area: card2; }
  .eventos_cards .eventos_card3 {
    grid-area: card3; }
  .eventos_cards .eventos_card4 {
    grid-area: card4; }
  .eventos_cards .eventos_card5 {
    grid-area: card5; }
  .eventos_cards .eventos_card6 {
    grid-area: card6; }
  .eventos_cards .eventos_card7 {
    grid-area: card7; }
  .eventos_cards .eventos_card8 {
    grid-area: card8; }
  .eventos_cards .eventos_card9 {
    grid-area: card9; }
  .eventos_cards .eventos_card10 {
    grid-area: card10; }
  .eventos_cards section {
    width: 90%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    vertical-align: top;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s; }
    .eventos_cards section a .eventos_imgcard {
      width: 100%; }
    .eventos_cards section div {
      padding-top: 5px; }
      .eventos_cards section div h2 {
        font-size: 100%;
        padding: 0px; }
      .eventos_cards section div p {
        font-size: 80%;
        padding: 0px; }
    .eventos_cards section:hover {
      box-shadow: 0px 5px 0px 0px yellow; }

.tienda_título {
  text-align: center;
  margin: 2%; }

.tienda_subtítulo {
  padding-right: 30%;
  text-decoration: underline;
  margin-top: 2%; }

.tienda_news {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%; }

.socios .socios_título {
  text-align: center;
  margin: 5%; }

.socios .socios_formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%; }
  .socios .socios_formulario div {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%; }
  .socios .socios_formulario .socios_subtítulo {
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline; }
  .socios .socios_formulario .socios_formulario_na {
    display: flex; }
  .socios .socios_formulario .socios_formulario_info {
    display: flex;
    justify-content: space-between; }
  .socios .socios_formulario .socios_seleccion {
    border: solid; }
    .socios .socios_formulario .socios_seleccion tr {
      text-align: center;
      padding: 10px; }
      .socios .socios_formulario .socios_seleccion tr td {
        text-align: center;
        padding: 10px; }
  .socios .socios_formulario .socios_formulario_tarjeta {
    display: flex;
    justify-content: space-between; }
  .socios .socios_formulario .socios_formulario_facturacion {
    display: flex; }
    .socios .socios_formulario .socios_formulario_facturacion .socios_formulario_facturacion_na {
      display: flex; }
  .socios .socios_formulario .socios_formulario_facturacion_direccion {
    display: flex; }
  .socios .socios_formulario .socios_formulario_telefono {
    display: flex; }

#socios_excepcion {
  margin-left: 2%; }

.disclaimer_titulo {
  text-align: center;
  font-size: xx-large;
  margin-top: 10px; }

.disclaimer {
  margin-top: 25px;
  text-align: justify; }

.sociedad {
  display: block;
  margin: auto;
  width: 50%; }

footer {
  margin-top: 15px; }
  footer .card-header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center; }
    footer .card-header .card-header_datos {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .card-header .card-header_datos p {
        padding: 0;
        margin: 0; }
        footer .card-header .card-header_datos p a {
          text-decoration: none;
          text-decoration: underline;
          color: white; }
  footer .card-body {
    background-color: yellow;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    footer .card-body .arriba {
      display: flex; }
      footer .card-body .arriba p {
        margin: auto;
        padding: auto; }
      footer .card-body .arriba ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        margin: auto;
        padding: auto;
        overflow: hidden; }
        footer .card-body .arriba ul li {
          margin: 5px 15px; }
          footer .card-body .arriba ul li a i {
            color: black; }
    footer .card-body .abajo {
      display: inline-block;
      align-items: center; }
      footer .card-body .abajo .marcadeagua {
        font-size: 15px;
        color: grey;
        margin-top: 20px; }
        footer .card-body .abajo .marcadeagua a {
          text-decoration: none;
          color: grey; }

/*Especificación Disclaimer*/
#disclaimer_footer {
  position: relative;
  bottom: 0;
  width: 100%; }

.card-group {
  width: 66%;
  height: 66%;
  margin: 0 auto;
  text-align: center; }
  .card-group .card {
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s; }
    .card-group .card .imgcard {
      width: 100%; }
    .card-group .card:hover {
      box-shadow: 0px 0 0px 0 yellow; }

/* Especificaciones tienda */
.card-group .card .card-body {
  justify-content: space-around; }
  .card-group .card .card-body .nombre_producto {
    font-size: 15px; }
  .card-group .card .card-body .precio_producto {
    font-weight: bold; }
  .card-group .card .card-body .cuotas_producto {
    font-size: 12px; }

.tienda_botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .tienda_botones .tienda_comprar, .tienda_botones .tienda_ver {
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s; }
    .tienda_botones .tienda_comprar:hover, .tienda_botones .tienda_ver:hover {
      box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.5); }
  .tienda_botones .tienda_ver {
    background-color: yellow;
    color: black; }

.form_button {
  padding: 2px;
  border-radius: 10%;
  border-width: 0.1px;
  background-color: yellow;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: 0.5s; }
  .form_button:hover {
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 768px) {
  /*index*/
  .index_carousel_txt {
    font-size: 12px;
    padding: 5px; }
  .carousel {
    height: 50%; }
  /*El Club*/
  .club_texto .club_historia .club_img {
    width: 50%;
    margin: 2%; }
  /*Eventos*/
  .eventos_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "card1 card8" "card2 card8" "card3 card4" "card9 card5" "card9 card6" "card7 card10";
    row-gap: 10px;
    justify-content: space-between; }
  /*Socios*/
  .socios_formulario_info {
    flex-direction: column;
    justify-content: space-between; }
  .socios_formulario_telefono {
    flex-direction: column; }
  .socios_formulario_tarjeta {
    flex-direction: column; }
  .socios_formulario_facturacion {
    flex-direction: column; }
    .socios_formulario_facturacion .socios_formulario_facturacion_na {
      flex-direction: column; }
  .socios_formulario_facturacion_direccion {
    flex-direction: column; } }

@media screen and (min-width: 0px) and (max-width: 800px) {
  main .card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; }
  main .card {
    align-items: center;
    background-color: white;
    margin: 5px 0PX;
    border-radius: 0px; } }

@media screen and (min-width: 769px) and (max-width: 1023px) {
  /*El club*/
  .club_img {
    width: 40%; }
  /*Eventos*/
  .eventos_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "card1 card2 card9" "card3 card4 card9" "card8 card5 card6" "card8 card7 card10";
    row-gap: 10px;
    justify-content: space-between; } }
