.card-group{
    width: 66%;
    height: 66%;
    margin: 0 auto;
    text-align: center;
    .card{
        align-items: center;
        background-color: $color-cardbackground;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        .imgcard{
            width: 100%;
        }
    }
}