.disclaimer_titulo{
    text-align: center;
    font-size:xx-large;
    margin-top: 10px;
}
.disclaimer{
    margin-top: 25px;
    text-align: justify;
}
.sociedad{
    display: block;
    margin: auto;
    width: 50%;
}