.logopequeño{
    width: 50px;
    margin-top: 3px;
    margin-left: 0px;
}
.header_titulo{
    font-size: 150%;
    margin-right: 5px;
    margin-top: 3px;
}
.paginas{
    width: 100%;
    justify-content: flex-end;
}