.carousel{
    margin: 10px auto;
    width: 60%;
    display: block;
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%;
                height: 75%;
                object-fit: cover
            }
            .carousel_text{
                border: solid 1px;
                padding-top: 10px;
                a{
                    text-decoration: none;
                    color: $color-secundario;
                    text-align: center;
                }
            }
        }     
    }
}
.index_p{
    text-align: justify;
    margin-bottom: map-get($sizes, s);
    margin-top: map-get($sizes, s)
}
