.tienda_título{
    text-align: center;
    margin: map-get($sizes, xs)
}
.tienda_subtítulo{
    padding-right: 30%;
    text-decoration: underline;
    margin-top: map-get($sizes, xs);
}
.tienda_news{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: map-get($sizes, xs);
    margin-bottom: map-get($sizes, xs);
}